
.btn{
    background-color: var(--ion-color-newPrimary-shade);
    color:white;
    padding: 5px 10px ;
    border-radius: 10px;
    font-size: 14px;
}
.cart-container {
  height: 100%;
  overflow-y: auto;  /* hace scroll solo en esta parte */
}

ion-footer {
  --background: #fff; /* fondo blanco */
  padding: 8px;
}

.btn-custom-color {
  --background: #437a69;
  --background-activated: #376357;
  --color: #fff;
  margin: 0 8px 8px 8px;
  border-radius: 8px;
}


