

<ion-content [fullscreen]="true" class="login-content animate-login">
  <div class="login-container">
    <h1>Bienvenido </h1>
    <p>Por favor, ingresa tus datos</p>

    <ion-item lines="none">
      <ion-input placeholder="Correo electrónico" type="email" [(ngModel)]="email" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-input placeholder="Contraseña" type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-button (click)="login()" expand="block" shape="round" size="large" class="login-btn" >
      Ingresar
    </ion-button>
  </div>
</ion-content>
