<ion-app>

  <ion-split-pane contentId="main-content">

     <!-- Menú lateral -->
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar color="newPrimary">
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
         <ion-list>
          <ion-item (click)="navigateTo('/home')">Inicio</ion-item>
          <ion-item (click)="navigateTo('/orders')">Orders</ion-item>
          <!-- ✅ Mostrar Login solo si no está autenticado -->
          <ion-item *ngIf="!isLoggedIn" (click)="navigateTo('/login')">Login</ion-item>

          <!-- ✅ Mostrar Logout solo si está autenticado -->
          <ion-item *ngIf="isLoggedIn" (click)="logout()">Logout</ion-item>
          
        </ion-list>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet   id="main-content"></ion-router-outlet>
    <!-- <ion-router-outlet *ngIf="load"  id="main-content"></ion-router-outlet> -->
    <jeep-sqlite *ngIf="isWeb"></jeep-sqlite>
    

  </ion-split-pane>
</ion-app>
