<ion-header>
  <ion-toolbar color="newPrimary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista de productos</ion-title>
    <ion-buttons slot="end">

      <div class="cart-container" (click)="goToOrders()">
        <ion-button fill="clear">
          <ion-icon name="cart-outline" slot="icon-only" size="large"></ion-icon>
        </ion-button>
        <div class="cart-badge" *ngIf="cartCount > 0">{{ cartCount }}</div>
      </div>

      <div class="cart-container" (click)="goToOrders()">
        <ion-button fill="clear">
          <ion-icon name="person-circle-outline"  size="large"></ion-icon>
        </ion-button>        
      </div>


    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >  
  <ion-row class="product-grid">
  <ion-col size="12" size-md="6" size-lg="4" *ngFor="let product of searchedProducts">
    <ion-card class="product-card animate-card"  >
      <div class="image-container"  [routerLink]="['/product',product.id]">
        <img [src]="product.image" alt="{{product.title}}" />
      </div>

      <ion-card-header>
        <ion-card-title class="truncate">{{ product.title }}</ion-card-title>
      </ion-card-header>

      <ion-card-content class="card-actions">
        <ion-button fill="clear" size="small" color="success" (click)="create(product.title, product.price, product.image); $event.stopPropagation()">
          <ion-icon name="add-outline" slot="icon-only"></ion-icon>         
        </ion-button>
          <span class="price">${{ product.price }}</span>
        <ion-button fill="clear" size="small" color="success"  [routerLink]="['/product',product.id]">
          <ion-icon name="eye-outline"></ion-icon>        
        </ion-button>
      
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>  
</ion-content>
