<ion-header>
  <ion-toolbar color="newPrimary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Lista de productos</ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear"  (click)="goToOrders()">
        <ion-icon name="cart-outline" slot="icon-only" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content >  
   <ion-row>
        <ion-col sizeLg="6" sizeMd="6" sizeXs="12" *ngFor="let product of searchedProducts">          
            <ion-card >
              <img src="{{product.image}}" />
              <div >
                <ion-row>
                  <ion-col sizeLg="9" sizeMd="9" sizeXs="9">
                      <div class="card-title">  {{product.title}} </div>
                  </ion-col>
                   <ion-col sizeLg="3" sizeMd="3" sizeXs="3" class="icon-col">
                    <ion-icon name="eye-outline" [routerLink]="['/product',product.id]"></ion-icon>
                    <ion-icon name="add-outline" (click)="create(product.title,product.price,product.image)" ></ion-icon>
                  </ion-col>
                </ion-row>                               
              </div>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
